<a name="negotiating"><h3>Negotiating – Keeping a Level Head</h3></a>

<p>
	The best negotiators are empathetic, meaning they can see another person’s perspective. That does not mean
	that they are emotional. While negotiation can be seen as a “winner-take-all” challenge, it is more productive to
	approach it as reaching a beneficial consensus where both parties win by getting what’s important to them. This is
	especially true for a successful real estate transaction.
</p>

<p>Successful negotiations require:</p>

<ol>
	<li><strong>Listening.</strong> Without listening, you can’t know what’s important to the other person.</li>
	<li>
		<strong>Understanding what you consider non-negotiable and communicating that clearly.</strong> This also
			means being prepared to walk away.
	</li>
	<li>
		<strong>Addressing the other person's concerns.</strong> This may require both sides to reciprocate with
			something negotiable.
	</li>
	<li><strong>Being patient.</strong> Rushing to a conclusion is not the goal; a mutually beneficial outcome
		is.</li>
	<li><strong>Remembering to be empathetic, but not emotional.</strong> Don’t take it personally.</li>
</ol>

<p><em><u>Our application and helps buyers and sellers negotiate fairly.</u></em></p>
