---
layout: page
categories: [guides, buyers]
title: Buyers 101
description: What you need to know when purchasing a home for sale by owner.
comments: true
---

<h2>Introduction - The Hard Facts</h2>

<p>
    <span class="image right">
		<img src="/images/search.jpg">
	</span>
    In today’s current market conditions, there’s fierce competition out there for the few properties which are
    available for buyers. In a study conducted earlier this year, the National Association of Home Builders (NAHB)
    found that 61% of buyers spend 3 or more months searching for a property, some unsuccessfully. Why?
</p>

<ul>
    <li>42% of buyers cite affordability as the primary reason why they were unable to find a home.</li>
    <li>36% could not find properties with the right set of features.</li>
    <li>34% were unable to find properties in their desired neighborhoods.</li>
    <li>27% were outbid despite being able to afford the home.</li>
</ul>

<p>
    While the market may eventually shift with rising interest rates and inventory, it’s a race to negotiate a sale
    before someone else beats you to the punch.
</p>

<p>
    <em><u>What can you do to make yours the most compelling offer while protecting yourself from making an uninformed
        purchase?</u></em>
</p>
<hr>

<h3>Financing - Be Prepared & Manage Your Expectations</h3>

<p>
    One way to differentiate yourself from other buyers is with financing. Pre-approvals for mortgages give you an
    idea of what affordable means to you and ensure that you don’t miss an opportunity by having an additional
    contingency. However, be sure have realistic expectations to avoid buyer’s remorse. Here are a few guidelines:
</p>

<ul>
    <li><p>Avoid dipping into your retirement account unless there is an incentive such as government funded programs
        for first time homebuyers. Your future self will thank you.</p></li>
    <li><p>Limit searches to your range of affordability to ensure that you aren’t tempted to overspend. Better yet,
        set up alerts to only send you listings that meet your criteria.</p>
        <blockquote>Our application will notify you only with properties that match your parameters.</blockquote>
    </li>
    <li><p>Affordability equals the cost of the mortgage payment plus taxes and insurance. Don’t forget the
        last part.</p></li>
    <li><p>Budget for maintenance and upkeep.</p></li>
</ul>
<hr>

<h3>Viewing - Nothing Beats Seeing it in Person</h3>

<p>
    It’s tempting to waive the home inspection contingency, especially when other buyers are bidding on the same
    property but failing to have an inspection completed could have significant financial impact in to you in the
    form of unexpected repairs. To avoid this situation, keep these considerations in mind:
</p>

<ul>
    <li><p>An “as is” property shifts the burden of disclosure and repair to the buyer. Be sure that you’ve budgeted a
        worst-case scenario if you decide to purchase a property in this state. There is no recourse once it
        belongs to you.</p></li>
    <li><p>While technology can be used to give a sense of the property (with approximately 20% making offers
        “sight unseen” according to Redfin), there are intangibles that can only be experienced in person. Think of
        dampness, smells, and noise which may not be experienced using a virtual tour. Where possible, visit in
        person to verify your initial online impression.</p></li>
</ul>

<p>
    Inspections according to the American Society of Home Inspectors (ASHI) should cover the following areas:
</p>

<ol>
    <li>Pests such as rats, termites, or any wood destroying vermin.</li>
    <li>Water damage and the presence of mold, fungus or dry rot.</li>
    <li>Heating, ventilation, air conditioning, and cooling (HVAC).</li>
    <li>Interior plumbing and electrical.</li>
    <li>The roof.</li>
    <li>The attic and visible insulation.</li>
    <li>The walls, ceilings, floors, windows, and doors.</li>
    <li>The foundation, basement, and structural components.</li>
</ol>

<p>
    In addition, inspections should be considered if the property has the following features:
</p>

<ul>
    <li>A chimney. This may vary depending on your location.</li>
    <li>A septic tank.</li>
    <li>A well.</li>
    <li>A pool.</li>
</ul>

<p>
    Optional but common inspections include:
</p>

<ul>
    <li>Boundary surveys. Crucial to determining property lines.</li>
    <li>Soil and geological studies for properties on hills.</li>
    <li>Sewer lateral inspections.</li>
</ul>

<p>Have peace of mind by reducing the chances for the unexpected.</p>
<hr>

{% include negotiation.html %}

<blockquote>
    <u>WARNING</u>: According to Attom Data Solutions, your chances of a successful offer decrease dramatically against a
    buyer with an all-cash offer. This can happen roughly 25% of the time particularly with homes valued at over $1M.
    Don’t expect to win in these situations and stick within your budget. Acting emotionally can have serious financial
    repercussions.
</blockquote>
<hr>

<h3>Closing</h3>

<p>There are certain costs which you should be aware of when closing:</p>

<ol>
    <li><p><strong>The deposit.</strong> The minimum should typically be 3-5% of the purchase price depending on your
        location. Negotiating with a large deposit shows a seller how serious you are as a purchaser. Care should be
        taken to ensure that this money is managed through escrow. Do not provide these funds directly to the seller
        as complications may arise if the deal goes south.</p></li>
    <li><p><strong>The property appraisal.</strong> If you’ve been pre-approved for a mortgage, your lending institution
        will insist on having an appraisal done to ensure that the property is worth the purchase price.</p></li>
    <li><p><strong>A home inspection.</strong> While a seller may provide a pre-sale home inspection, you should have
        an independent inspector verify their results.</p></li>
    <li><p><strong>Legal fees.</strong> A registered real estate lawyer is essential to ensure that a title search and
        title registration is conducted. In addition, the lawyer should prepare a statement of adjustments prior to
        the completion date so that you can review what is owed.</p></li>
    <li><p><strong>If you used a mortgage broker, then their commission will need to be paid.</strong></p></li>
    <li><p><strong>Insurance</strong> costs. Insurance must be effective prior to the negotiated completion date or
        the date the balance of funds is placed in trust. This is typically purchased through your lawyer.</p></li>
    <li><p><strong>Title Insurance.</strong> Lenders require insurance to protect against losses in the event of a
        dispute between the buyer and seller.</p></li>
    <li><p><strong>Property Transfer Tax.</strong></p></li>
    <li><p><strong>Prorated Property Tax.</strong> Property taxes are usually paid a year in advance. You will need to
        reimburse the seller for the portion which has not been used.</p></li>
    <li><p><strong>Insurance premiums associated with mortgages under a certain threshold.</strong></p></li>
</ol>

<p>
    Keep in mind that these costs will be incurred out of pocket or be deducted from the final sale price. Also note
    that while an agent may assist you with these tasks, a lot depends directly on you.
</p>

<p><em><u>Closing requires coordination. We can help by providing checklists for critical closing tasks.</u></em></p>
<hr>

<h3>Thoughts</h3>

<p>
    Buying a house is expensive. More so if you live in a hot market. For most people, their home will be their
    single largest asset. There’s an affordability crisis in housing with very few ways to address it. While only
    market corrections can address home valuations, you can save money by reducing the transactional costs. By that,
    I mean agent commissions paid out of the final selling price of a property.

    That being said, escalation clauses can be used supplement your offer.*
</p>

<h4>Share your thoughts below.</h4>

{% include disqus.html %}
